@using Lab4.Models.MidTerm
@model List<TestQuestion>
@{
    ViewBag.Title = "TakeTest";
}

<h2>TakeTest</h2>

@foreach (var question in Model)
{
    ID: @question.ID<br />
    switch(question.GetType().ToString())
    {
        case "La4.Models.MidTerm.Models.TrueFalseQuestion":
            @Html.Partial("TrueFalseQuestion", (TrueFalseQuestion)question)
            break;
        case "La4.Models.MidTerm.Models.LongAnswer":
            @Html.Partial("~/Views/Midterm/LongAnswerQuestion", (LongAnswerQuestion)question)
            break;
        case "La4.Models.MidTerm.Models.ShortAnswer":
            @Html.Partial("~/Views/Midterm/ShortAnswerQuestion", (ShortAnswerQuestion)question)
            break;
        case "La4.Models.MidTerm.Models.MultipleChoiceQuestion":
            @Html.Partial("~/Views/Midterm/MultipleChoiceQuestion", (MultipleChoiceQuestion)question)
            break;
    }
}