@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Styles/DefaultStyles.css" />
    @RenderSection("styles", false)
</head>
<body>
    <header>
        @RenderSection("header", required: false)
        Suckerity.com <br />
        A sucker is born every minute, don't be one of them.<br />
        @{
            if(User.Identity.IsAuthenticated)
            {
                <div>
                    Welcome @User.Identity.Name;
                </div>
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="Logout" onclick="document.getElementById('logoutForm').submit(); return false;">Logout</a>
                }
            }
            else
            {
                @Html.ActionLink("Login", "Login", "Account");
            }
        } 
    </header>
    
    <nav>
        <ul>
            <li> @Html.ActionLink("Home", "Index", "Home") </li>
            <li> @Html.ActionLink("About", "Index", "About") </li>
            <li> @Html.ActionLink("Contact", "Index", "Contact")</li>
        </ul>
    </nav>
    
    <div id="main"> 
        @RenderBody()
    </div>
    <footer>
        @RenderSection("footer", required:false)
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/jquery.validate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.js"></script>
</body>
</html>
